body {
  width: 100%;
  max-width: 100%;
  font-family: "Geometria", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 400;
  color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0f1a07;
  background-image: url(../img/images/bg-main.jpg);
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100% auto;
}

.footer {
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
}

textarea,
input,
button {
  font: inherit;
  border: none;
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

h2,
.title {
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  
  &--center {
    text-align: center;
  }
}