.product__slide {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

